.comment>h2 {
    text-align: center;
    color: blue;
}

.lesson {
    list-style: none;
    text-align: center;
}

.lesson>li {
    margin: 20px 0;
    color: #1F4690;
    font-size: 18px;
    cursor: pointer;
}

.show {
    margin-top: 20px;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #3AB4F2;
    list-style: none;
    padding: 0 20px;
    border-radius: 5px;
}

.show>li {
    margin: 10px 0;
    font-size: 16px;
}

.show::-webkit-scrollbar {
    display: none;
}